@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --brand: 99, 102, 241;
  --brand-light: 104, 117, 237;
  --brand-100: 224, 231, 255;
  --brand-700: 67, 56, 202;

  --bg-light: 240, 245, 251;
  --bg-dark: 40, 44, 52;
  --bg-form: 28, 30, 33;
  --bg-card: 28, 30, 33;
}

@layer base {
  * {
    @apply font-inter;
  }

  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply focus:ring-brand focus:caret-brand rounded-lg border-gray-200 bg-white py-[0.6rem] text-black shadow-sm;
  }

  [type="checkbox"],
  [type="radio"] {
    @apply text-brand focus:ring-brand rounded border-gray-300;
  }

  [type="submit"] {
    @apply cursor-pointer;
  }

  button {
    @apply cursor-pointer select-none font-medium outline-none focus:outline-none;
  }

  .link {
    @apply text-brand fade cursor-pointer hover:text-gray-700;
  }

  .btn-primary {
    @apply btn bg-brand hover:bg-brand-light text-white;
  }

  .btn-secondary {
    @apply btn bg-brand/20 text-brand hover:shadow-sm;
  }

  .btn-outline {
    @apply btn border-2 border-gray-300 text-gray-700 hover:border-gray-400 hover:shadow-sm focus:border-gray-400;
  }

  .btn-disabled {
    @apply btn bg-black/10 text-gray-500;
  }

  .btn-icon {
    @apply h-7 w-7 cursor-pointer rounded-md bg-black bg-opacity-0 p-1 text-gray-700 transition-all hover:!bg-opacity-5 dark:bg-white dark:bg-opacity-0 dark:text-gray-200;
  }

  .btn {
    @apply fade flex cursor-pointer select-none flex-row items-center justify-center gap-2 rounded-md px-7 py-2.5 focus:outline-none;
  }

  .text-default {
    @apply text-black;
  }

  a {
    @apply link;
  }

  .text-default {
    @apply text-black dark:text-white;
  }

  .toggle:checked + label {
    @apply bg-brand;
  }

  .scroll-smooth {
    scroll-behavior: smooth;
  }

  .fade {
    @apply transition-all duration-150 ease-in-out;
  }
}

.remark__mention {
  @apply text-brand pointer-events-none z-[1] rounded-md;
}

.dark .remark__mention {
  text-shadow: 0px 0px 1px rgb(var(--bg-form));
}

.remark__highlighter {
  @apply pointer-events-none z-[1] rounded-lg;
}

.remark__input {
  @apply dark:!bg-background-form focus:ring-brand rounded-lg border border-gray-300 !bg-white shadow-sm outline-none focus:ring-2 dark:!border-gray-700 dark:!text-white;
}

.remark__suggestions__list {
  @apply dark:!bg-background-form dark:!text-white;
}

.remark__suggestions__item--focused {
  @apply dark:!bg-white/10;
}

.icon-white path {
  color: white;
}

.thin-scrollbar::-webkit-scrollbar {
  width: 6px;
  background: rgba(0, 0, 0, 0);
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.thin-scrollbar:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

.remark--multiLine,
.remark--multiLine * {
  white-space: pre-wrap !important;
}

.dark .thin-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
}

.dark .thin-scrollbar:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}
